/* CSS */

/* Body and HTML rules, change this and i will be under your bed at night */

html {
    position: relative;
}

body {
    margin-bottom: 0px;
    /* Margin bottom by footer height */
    background-color: #f8f9fa!important;
}

.bg-light {
    /*background-color: #BB4C4A!important;*/
    background-color: white!important;
}

/* Navbar styling, change as you see fit Mr. Designer */
@media only screen and (max-width: 992px) {
  #navbarNav .navbar-nav {
    /*flex-direction: row;*/
    padding-left: 15px;
  }

  #navbarNav .dropdown-menu {
    /*flex-direction: row;*/
    box-shadow: none;
  }

  #navbarNav  .dropdown-submenu .dropdown-menu {
    border-bottom: 0.5px solid lightgrey;
    border-radius: 0px;
  }

  .dropdown-menu li a:hover {
    background-color: #d3d3d363;
  }
}

/*.bg-light {
    background-color: #004b76!important;
}*/

#logo_link {
    width: 260px;
    margin-right: 29px;
}

/* Making sure the filter checkboxes are. Looking. Good. */

#filtertags {
    margin: 0 auto;
}

/*Syling the areas that are displayed for filterfunction*/

.filterAreaCard {
    position: relative;
    margin-bottom: 2%;
}

.nav-link{
  color:black !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,0);
}

.cardAreaInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
    background-color: #004B76;
    border-bottom: 1px solid #f8f9fa;
    border-right: 1px solid #f8f9fa;
    border-radius: 3px;
    color: #f8f9fa;
}


/* Footer and red bar with white text styling */

.footer1 {
    width: 100%;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #5F6060;
    color: #FFFFFF;
}

.redbar {
    color: #FFFFFF;
    background-color: #004B76;
    padding-top: 23px;
    /* fixed space between Text and top of container :  ^) */
    height: 200px;
}

.redbartext {
    width: 90%;
}

.contact-right-info {
    margin-top: 10px;
    padding-bottom: 30px;
}

/* Styling the footer for mobile and pad sizes. If you change this, the footer will look ugly. */

@media only screen and (max-width: 767px) {
    .redbar {
        height: 300px;
    }
}


/* Styling the Carousel (aka the slider on top of the index page) */

.carousel-item {
    margin-bottom: 30px;
}

.hide {
    display: none;
}

/* Red bar with white text on top of the Områder page */

.redbar2 {
    background-color: #004B76;
    padding: 2%;
    color: #FFFFFF;
    margin-top: -30px;
}

/* Red header */

.redheader {
    color: #004B76;
    text-align: center;
    margin: 20px;
}

/* Paragraph styling for områder page */

.omraade_text {
    text-align: center;
    margin: 30px;
}

.bigtext {
    margin-bottom: 20px;
    font-size: 64px;
}

@media only screen and (min-width: 992px) {
  .dropdown {
        padding-left: 1rem;
  }

  .dropdown-menu li:hover {
    background-color: #d3d3d363;
  }

}
@media only screen and (max-width: 950px) {
    .bigtext {
        margin-bottom: 40px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 470px) {
    .bigtext {
        margin-bottom: 50px;
        font-size: 30px;
    }
}
/* header styling for hyttegrend */

.headerButtonContainer {
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
  background:rgba(0,0,0,0.3);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
    width: 50%;
}

.image_header {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

#imgHeader {
  width: inherit;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttonmargin {
  margin-bottom: 10px;
}

/* tja */

.index-form {
    width: 100%;
    background-color: #f8f9fa;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Remove up and down arrows on input type number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* hyttegrend styling */

.hyttegrend_tekst_container {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    padding: 30px;
}

.hyttegrend_tekst_container_middle {
    background-color: #004B76;
    color: #FFFFFF;
    padding: 30px;
}

.hyttegrend_tekst_container_middle_white {
    background-color: #FFFFFF;
    color: #004B76;
    padding: 30px;
}

.hyttegrend_oneliner {
    font-weight: 700;
    font-size: 125%;
}

.hyttegrend_aktiviteter {
    text-align: center;
    color: #004B76;
    margin-top: 20px;
}

.icon {
    width: 50px;
    margin: 18px;
}

#buttoncontainer {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #004B76;
}
.mapStyle{
  width: 100%;
  height: 500px;
}

/*dropdown hover menu in navbar*/
.dropdown {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  border-top: 0px;
  box-shadow: 0px 8px 16px 0px rgba(10, 9, 9, 0.47);
  z-index: 1;
  padding: 0px;
  top: 88%;
  border: 0px ;
}

.dropdown-submenu {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.dropdown-submenu.pull-left {
  float: none;
 }

#dropOmraade {
  color: black;
  text-decoration: none;
}

.dropdown-menu li {
  padding-left: 15px;
  padding-right: 15px;
}

.dropdown-menu li a {
  font-size: 14px;
}

.dropdown-submenu .dropdown-menu li a {
  font-size: 12px;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
 }

.dropdown-menu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

/*----------------------------------------*/

.hideArea{
    display: none;
}
.hideCheckbox{
    display: none;
}
.showCheckbox{
  border: 0.5px solid lightgray;
  font-weight:normal;
  font-size: 18px;
  background-color: #e0dfde;
  text-align: center;
  padding: 11px;
}
.showCheckbox:hover{
  background-color: lightgray;
  cursor: pointer;
}
#facts p, #contactInfo p{
  margin-bottom:0;
}
#filterTags{
  padding: 1%;
  width: 100%;
  min-height: 40px;
}
hr{
  clear:both;
}
.tagFilter{
  float: left;
  border:1px solid black;
  color:white;
  font-weight: bold;
  background-color: #e65c00;
  padding:3px;
  margin: 2px;
}

.btn-calltoaction{
    background-color: darkorange;
    border-color: darkorange;
    color:black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 15px 0 rgba(0,0,0,0.19);
    margin-bottom: 20px;
    width: 300px;
}

.btn-calltoaction:hover{
    background-color: orange;
    border-color: darkorange;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 22px 50px 0 rgba(0,0,0,0.19);
}
.arrow{
  font-size: 15px;
  float: right;
  margin:1%;
  margin-right:5%;
}
.jumbotron {
  margin: 0;
}
input[type='checkbox'] {
    width:20px;
    height:20px;
    background:white;
    border-radius:3px;
    border:1px solid gray;
    -webkit-appearance:none;
}
input[type='checkbox']:checked {
    border:1px solid black;
    background: #e65c00;
}
label span{
  margin:10px;
  font-weight: bold;
  font-size: 16px;
}
