/* CSS */

/* Body and HTML rules, change this and i will be under your bed at night */

html {
  position: relative;
}
body {
  margin-bottom: 0px; /* Margin bottom by footer height */
  background-color: #f8f9fa!important;
}

.bg-dark {
  /*background-color: #BB4C4A!important;*/
  background-color: #004B76!important;s
}

/* Navbar styling, change as you see fit Mr. Designer */

.navbar-brand {
  width: 100%;
}

#logo_link {
    width: 123px;
    margin-right: 29px;
}
/* Making sure the filter checkboxes are. Looking. Good. */

#filtertags {
  margin: 0 auto;
}

/*Syling the areas that are displayed for filterfunction*/
.filterAreaCard{
  position: relative;
  margin-bottom: 2%;
}
.cardAreaInfo{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 7px;
  background-color: #004B76;
  border-bottom: 1px solid #f8f9fa;
  border-right: 1px solid #f8f9fa;
  border-radius: 3px;
  color: #f8f9fa;


}

/* Footer and red bar with white text styling */
.footer1 {
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
  background-color: #5F6060;
  color: #FFFFFF;
}

.redbar {
  color: #FFFFFF;
  background-color: #004B76;
  padding-top: 23px; /* fixed space between Text and top of container :  ^) */
  height: 30%;
}

.redbartext {
  width: 90%;
}

.contact-right-info {
  margin-top: 10px;
  padding-bottom: 30px;
}

/* Styling the footer for mobile and pad sizes. If you change this, the footer will look ugly. */

@media only screen and (max-width: 767px) {
  .redbar {
      height: 40%;
  }
}


/* Styling the Carousel (aka the slider on top of the index page) */

.carousel-item {
    margin-bottom: 30px;
}
.hide {
    display: none;
}

/* Red bar with white text on top of the Områder page */
.redbar2 {
    background-color: #004B76;
    padding: 2%;
    color: #FFFFFF;
    margin-top: -30px;
}

/* Red header */
.redheader {
  color: #004B76;
  text-align: center;
  margin: 20px;
}

/* Paragraph styling for områder page */

.omraade_text {
  text-align: center;
  margin: 30px;
}

.bigtext {
    margin-bottom: 20px;
    font-size: 64px;
}



/* tja */
.index-form {
    width:100%;
    background-color: #f3f3f3;
    padding-top: 60px;
    padding-bottom: 60px;
}